/* 1 NAVBAR */
/* 2 ACCUEIL **/
/* 3 BLACK BAND */
/* 4 IMAGES DREAMS*/
/* 5 page metal */
/* 6 page festival */
/* 7 form insription*/
/* 8 form connexion*/
/* 9 form concert*/
/* 10 page profil*/
/* 11 page salon*/
/* 12 deconnexion*/
/* 13 DASHBOARD ADMIN / tableau de Bord*/
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap'); */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: rgba(0, 0, 0, 0.947);

}
p, h2, h3, h4, span{
    color: aliceblue;
}
label{
    color: white;
}
a{
    color: #AE8625;
}
header{
    height: 20vh;
    width: 100vh;
    

}
/* 1 **************************** NAVBAR *******************************/        /*  1  */
.navbar{
    position: absolute;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    box-sizing: border-box; 

}
.navbar a{
    color: rgb(155, 111, 36);
    font-size: 1.3rem;
    font-family : 'Rye', cursive , sans-serif;

}
.navbar .logo{
    font-size: 2em;
    font-weight: bold;
    font-family : 'Rye', cursive , sans-serif;
}
.navbar .nav-links ul{
    display: flex;
}
.navbar .nav-links ul li{
    margin: 0 20px;
}
.navbar .nav-links ul li.active a{
    color: azure;
    font-weight: 600;
}
.navbar .menu-hamburger{
    display: none;
    position: absolute;
    top: 50px;
    right: 30px;
    width: 35px;
}

h1 {
    text-align:center;
    padding-top: 10px;
    padding-bottom: 40px;
    background:-webkit-linear-gradient(bottom, #AE8625 10%, #ebc365 20%, #AE8625 40%, #ebc365 60%, #AE8625 80%, #ebc365 100%);
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
    font-weight: bolder;
    font-family : 'New Rocker', cursive , sans-serif;
    text-shadow: -1px -1px 1px rgba(91, 55, 8, 0.737);
    /* font-family : 'Dancing Script', cursive ; */
}


  #carouselExampleCaptions{
    padding: 0 280px;
  }
  .pics{
    height: 550px;
    width: 100%;

  }
  .carousel-item {
    transition-duration: 5s;
  }



/* 2 ****************************** ACCUEIL *****************************/         /*  2  */
.presents{
    background: linear-gradient(to top, #000000da, #000000da 50%, #000 75%, #000000d3 75%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 80px;
}
.presents h2{
    font-family : 'New Rocker', cursive , sans-serif;
}
#presentP{
    display: flex;
    justify-content: center;
    font-family : 'Rye', cursive , sans-serif;

}
#fest{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-template-rows: auto;
    gap: 20px;
    margin: 100px 180px;
    
    justify-items: center;
}
#fest img{
    height: 400px;
    width: 280px;
}
#fest img:hover{
    scale: 1.3;
}
#hellFest{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
  
}
#hellFest img{
    height: 380px;
    margin: 30px 30px;
}
.imageContainer {
    position: relative;
    display: inline-block;
  }
  
  .text-overlay {
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
/* 3 *********************** Accueil BLACK BAND ***********************/                    /*  3  */
.balise{
    font-size: 5rem;
    font-weight: bolder;
    padding: 0 100px;
}
.balise1{
    font-size: 9rem;
    font-weight: bolder;
    padding: 0 100px;
}
.dreams{
    background: linear-gradient(to top, #000000da, #000000da 50%, #000 75%, #000000d3 75%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.8px 0 0 rgba(255, 255, 255, 0.678);
}
#mine {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
    font-size: 1.5rem;
    font-family : 'Rye', cursive , sans-serif;
}
.finger{
    height: 100px;
    margin: 20px;
    border-radius: 20px;
}
.dreams1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 0;
    
}
/* 4 ***************************** IMAGES DREAMS****************************/            /*  4  */
.dream-card {
    position: relative;
    width: 300px;
    height: 350px;
    background-image: url("../image/symphonyX.png");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.925);
  }
  .dream-card1 {
    position: relative;
    width: 300px;
    height: 350px;
    background-image: url("../image/tso.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.925);
  }

  .dream-card2 {
    position: relative;
    width: 300px;
    height: 350px;
    background-image: url("../image/croisiere.png");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.925);
  }
  .dream-card .text, .dream-card1 .text, .dream-card2 .text {
    position: absolute;
    width: 250px;
    height: 150px;
    top: 55%;
    left: 8%; 
    background-color: rgba(255, 255, 255, 0.849);
    padding: 10px;
    border-radius: 5px;
    font-weight: 1.1rem;
    overflow: auto;
  }
  .dream-card .text p, .dream-card1 .text p, .dream-card2 .text p {
  color: #000000; 
  margin-bottom: 0;
  }
  .titreCard {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'New Rocker', cursive , sans-serif;
  }
  /* .dream-card {
    position: relative;
    margin: 10px;
    perspective: 1000px;
  }
  
  .dream-card img {
    width : 200px; 
    height : 200px;
    border: 1rem solid rgba(0, 0, 0, 0.741);
    -moz-border-radius : 100px;
    -webkit-border-radius : 100px;
    border-radius : 100px;  
    transition: transform 0.5s;
  }
    
  .dream-card .text {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%) rotateY(180deg);
    text-align: center;
    font-size: 18px;    
    backface-visibility: hidden;
  }
  .dream-card.is-flipped  img {
    transform: rotateY(180deg);
    background: #ffffff;
  }
  
  .dream-card.is-flipped .text {
    /* position: absolute; */
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%) rotateY(180deg); */
    /* text-align: center; */
    /* transform: rotateY(0deg);
  }  */
    

/* 5 **************************** page metal ***************************/           /*  5  */   
#container{
    margin: 100px auto;  
}

.accordion-item{
    background:-webkit-linear-gradient(bottom, #AE8625 10%, #ebc365 20%, #AE8625 40%, #ebc365 60%, #AE8625 80%, #ebc365 100%);
    padding: 20px;
}
iframe{
    margin: 30px 50px;
}
#youtube{
    display: flex;
    flex-direction: row;

}
#youtube2{
    display: flex;
    justify-content: center;
}
.accordion-body p {
    font-size: 1.5rem;
    text-align: justify;
}
.video-shadow {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  }
#videoYT {
    display: flex;
    justify-content: center;
} 
.post-it {
    position: relative;
    width: 300px;
    padding: 20px;
    margin-left: 20px;
    background-color: #caad0a;
    transform: rotate(-5deg);
    border-radius: 10px;
  }
.post-it2 {
    position: relative;
    width: 300px;
    padding: 20px;
    margin-top: 30px;
    margin-left: 60px;
    background-color: #0a5230;
    transform: rotate(-5deg);
    border-radius: 10px;
}
.rounded-article {
    border-radius: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    color: #000;
    margin: 15px;
}
.custom-article {
    clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 20% 100%);
    padding: 20px;
    background-color: white;
    color: #000;
    margin: 30px;
}
.rounded-article p, .custom-article p {
     color: #000
}
.rounded-article h3, .custom-article h3 {
    color: #AE8625;
}

/* 6 ******************************* page festival ***************************/           /*  6  */
.voteGif{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#festival{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: auto;
    gap: 30px;
    margin-top: 95px;
    justify-items: center;   
} 
.card {
    margin-left: 20px;   
    width: 90%;

}
.card-header p{
    background-color: white;
    color: rgba(0, 128, 100, 0.966);
    font-family: 'New Rocker', cursive , sans-serif;
}
.card-body p {
    color: #000;
}
.card-body2 p {
    color: #f8f4f4;
    display: flex;
    justify-content: center;
}
#cardC {
    max-height: 600px; /* Ajustez la hauteur maximale selon vos besoins */
    overflow-y: auto; 
    margin-left: 20px;
    margin-right: 40px;/* Ajoute une barre de défilement verticale si nécessaire */
  }
.imgCard{
    width: 346px;
    height: 110px;
}
.card1{
    width: 350px;
    height: 380px;
    border: 2px solid;
    border-color: white white #AE8625 #AE8625;
    margin-top: 100px;
}
#lien{
    margin: 80px;
}

form{
    padding: 20px 20px;
    margin: 10px 0;
}
#inputIdFest{
    display: none;
}
#iconFest{
    width: 25px;
    height: 20px;
}
.scroll-container {
    max-height: 800px; /* Ajustez la hauteur maximale selon vos besoins */
    overflow-y: auto;
    margin-bottom: 50px; /* Ajoute une barre de défilement verticale si nécessaire */
  }
  
/* 7 ************************form insription********************************/                  /*  7  */
#inputFond{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    background-color: #AE8625;
}
#fond, #formContact, #mainConnexion, #mainPwd, #fond1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 40px;
}
#formulaire, #formConnexion, #formPwd, #form1{
    display: flex;
    justify-content: center;
    text-align: center;
    background: #000;
    width: 700px;
    box-shadow: 2px 2px 5px #AE8625;
}
#fond1 label, #formulaire label, #formConnexion label{
    color: #AE8625;
    font-size: 1.5rem;
    font-family: 'New Rocker', cursive , sans-serif;
}
.input-shadow{
    box-shadow: 2px 2px 5px #AE8625;
    width: 400px;
    height: 50px;
}
#fond1 button, #buttonForm, #buttonConnexion, #buttonPwd{
    margin-top: 30px;
    background-color: #AE8625;
    width:200px ;
    height: 40px;
    font-weight: bolder;
    font-family: 'New Rocker', cursive , sans-serif;
}
.fond2 {
    width: 700px;
    height: 500px;
    background: azure;
    overflow: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.fond2-container {
    margin-bottom: 200px; 
}
  
.fond3{
    display: flex;
    justify-content: center;
}
.fond2 p{
    color: #000;
}
.error-container {
    width: 70%;
    margin: 0 auto; 
    background-color:rgb(172, 2, 2);
    color: white;
    text-align: center;
}
.succes-container {
    width: 70%;
    margin: 0 auto; 
    color: white;
    background-color: rgb(8, 151, 99);
    text-align: center;/* Pour centrer la div horizontalement */
}
#textFaq {
    text-align: center;
    padding: 20px;
}
.question {
    color: #AE8625;
    font-weight: bold;
    font-size: 1.2rem;
} 
.response {
    color: #008064;
    font-size: 1.2rem;

}
#logFaq {
    height: 400px;
    width: 400px;
}
#espace {
    height: 200px;
} 

/* 8 *******************************form connexion*******************************/        /*  8  */

#gifContent{
    display: flex;
    justify-content: center;
}

.fireworks {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
  }

  .fireworks img {
    position: absolute;
    animation: fireworks-animation 1s infinite;
  }

  .fireworks img:nth-child(1) {
    top: 0;
    left: 0;
    animation-delay: 1s;
  }

  .fireworks img:nth-child(2) {
    bottom: 0;
    right: 0;
    animation-delay: 2s;
  }

  .fireworks img:nth-child(3) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-delay: 3s;
  }

  @keyframes fireworks-animation {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
/* .gif1{
    font-size: 2rem;
    position: relative;
    
    animation: slide-in 6s ease-in-out forwards;  

}

@keyframes slide-in {
    from {
        left: 0%;
    }
    to {
        left: 80%;
    }
}  */


/* 9 *******************************form concert*******************************/        /*  9  */

#concertForm label{
color: #AE8625;
}


/* 10 ********************************************page profil*******************/         /*  10  */
.img-thumbnail{
    width: 100px;
    height: 100px;
}
#cardAfficheUser{
    width: 500px;
}
#cardAfficheConcerts.card{
    width: 500px;
}
#buttonSendProfil{
    margin-top: 5px;
    background-color: #AE8625;
    border-color: #000;
}
#profile {
    display: grid;
    grid-template-rows: 1fr; /* 2 lignes de hauteur égale */
    grid-template-columns: 50% 50%; /* 2 colonnes de largeur égale */
    grid-gap: 10px; /* Espacement entre les éléments */
    align-items: center;
}

#grid1 {
    padding-left: 25%;
    grid-row: 1; /*  première ligne */
    grid-column: 1; /*  première colonne */
}

#grid2 {
    padding-left: 25%;
    grid-row: 1; /* première ligne */
    grid-column: 2; /* deuxième colonne */
}
#pCard1 p, #pCard2 p{
    color: #000;
}
.card-header {
    background: #000000;
    text-align: center;
}
.titreH2{
    color: #AE8625;
    
}
#imageChange{
    width: 140px;
}
#textPForm{
    text-align: center;
    margin-top: 30px;
    font-family: 'New Rocker', cursive , sans-serif;
    font-size: 1.3rem;
}



/*11*****************************page salon****************************/

#listen{
    position: relative;
    width: 100vw;
    height: 80vh;
    background-size: cover;
    z-index: 0;
}

  
  .pointing-div {
    position: absolute;
   
    padding: 15px;
    width: 10%;
    border-radius: 5px;
    z-index: 1;
  }
  
  .pointer {
    display: block;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    margin: auto;
    z-index: 1;
  }
  #point0 { /*ordi*/
    top: 56%; 
    left: 32%; 
    /* ; centrez la div de pointage sur le point spécifié */
  }
  #point1 { /*platine*/
    top: 62%; /* ajustez cette valeur pour positionner la div de pointage où vous le souhaitez */
    left: 45%; /* ajustez cette valeur pour positionner la div de pointage où vous le souhaitez */
    /* transform: translate(-50%, -50%); centrez la div de pointage sur le point spécifié */
  }
  #point2 { /*disque mur*/
    top: 40%; /* ajustez cette valeur pour positionner la div de pointage où vous le souhaitez */
    left: 86%; /* ajustez cette valeur pour positionner la div de pointage où vous le souhaitez */
    /* transform: translate(-50%, -50%); centrez la div de pointage sur le point spécifié */
  }
  #point3 { /*piano*/
    top: 68%; /* ajustez cette valeur pour positionner la div de pointage où vous le souhaitez */
    left: 83%; /* ajustez cette valeur pour positionner la div de pointage où vous le souhaitez */
    /* transform: translate(-50%, -50%); centrez la div de pointage sur le point spécifié */
  }
  #point4 { /*guitar*/
    top: 45%; /* ajustez cette valeur pour positionner la div de pointage où vous le souhaitez */
    left: 52%; /* ajustez cette valeur pour positionner la div de pointage où vous le souhaitez */
    /* transform: translate(-50%, -50%); centrez la div de pointage sur le point spécifié */
  }
  #point5{ 
    top: 83%; /* ajustez cette valeur pour positionner la div de pointage où vous le souhaitez */
    left: 12%; /* ajustez cette valeur pour positionner la div de pointage où vous le souhaitez */
    /* transform: translate(-50%, -50%); centrez la div de pointage sur le point spécifié */
  }
  #audio-controls {
    position: fixed;
    top: 160px;
    left: 0;
    width: 100%;
    background-color: #0b0b0b;
    color: #fff;
    text-align: center;
    
  }
  #volume-control {
    background-color: rgb(19, 141, 104);
  }

  
#footer{
    position: fixed;
    bottom: -45px;
    left: 0;
    width: 100%;  
    
}


/* 12 ******************************deconnexion******************************/          /*  12  */
#deco{
    margin-right: 10px;
}
#deco a{
    color: rgb(172, 2, 2);
    font-size: large;
}
#deco a:active{
    color: rgb(248, 245, 245);
    font-size: large;
}
/* 13 ***********************DASHBOARD ADMIN * tableau de Bord*********************/   /*  13  */
.tabBord{
    /* width: 70%; */
    background: #AE8625;
    margin: 40px 15%;
    padding: 18px;
    display: flex; /* Added property */
    justify-content: center; /* Added property */
}
.tabAdmin{
    display: flex; /* Added property */
    justify-content: center;
    flex-direction: column; /* Added property */
}
  
.separate td {
    border: 1px solid black;
    padding: 25px;
}

#name, #image, #content, #creer {
    width: 290px;
}
.deco{
    margin-left: 30px;
}
