
@media screen and (max-width: 1100px){
  #profile {   
    grid-template-rows: 2fr; /* 1 lignes de hauteur égale */
    grid-template-columns: 100%; /* 2 colonnes de largeur égale */
  }
  #grid1 {
    padding-left: 5%;
      grid-row: 1; /*  première ligne */
      grid-column: 1; /*  première colonne */
  }
  #grid2 {
    padding-left: 5%;
      grid-row: 2; /* première ligne */
      grid-column: 1; /* deuxième colonne */
  }
  #fest {
    margin-left: 40px;
    gap: 20px;
  }

}

@media screen and (max-width: 900px){
  #carouselExampleCaptions{
      z-index: 1;
  }
  .navbar{
      position: relative;
      z-index: 2;
      padding: 0;
  }
  .navbar .logo {
      position: absolute;
      color: #AE8625;
      top: 40px;
      left: 30px;
  }
  .navbar .menu-hamburger{
      display: block;
      margin-right: 30px;
      
  }
  .nav-links{
      
    top: 0;
    left: 0;
    position: absolute;
    background:-webkit-linear-gradient(bottom, #AE8625 10%, #ebc365 20%, #AE8625 40%, #ebc365 60%, #AE8625 80%, #ebc365 100%);
    backdrop-filter: blur(8px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;

  }
  .navbar a{
    color: #000;
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 15px 80px;
  }
  
  .navbar a:hover{
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.875);
  }
  .nav-links.mobile-menu{
    margin-left: 0;
  }
  .nav-links ul{
    display: flex;
    flex-direction: column;

  }
  .navbar .nav-links ul li{
    margin: 25px 0;
    font-size: 1.2rem;
  }
  #carouselExampleCaptions{
    padding: 0 100px;
}
.pics {
    height: 350px;
    width: 90%;
}
#fest {
  margin-left: 20px;
}
#fest img {
  margin-left: 20px;
  width: 290px;
}
  #youtube {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }  
  #formTop5 {
    display: flex;
    flex-direction: column;
  }
  #buttonFiltre, #buttonTop {
    margin-top: 10px;
    background-color: #AE8625;
    width:110px ;
    font-size: 1.2rem; 
    font-family: 'New Rocker', cursive , sans-serif;
  }
  .dreams img {
    width: 150px; 
    
  }
  .balise, .balise1 {
    font-size: 3rem;
    padding: 0 50px;
  }
}

@media screen and (max-width: 550px){
  .navbar .logo {
    position: absolute;
    color: #AE8625;
    top: 20px;
    left: 10px;
    font-size: medium;
  }
  .navbar .menu-hamburger {
    display: block;
    margin-right: 30px;
  }
  #carouselExampleCaptions{
    padding: 0 30px;
}
.dreams img {
  width: 150px; 
  
}
.balise, .balise1 {
  font-size: 2rem;
  padding: 0 50px;
}
.pics {
    height: 250px;
    width: 90%;
}
#fest img {
  margin-left: 20px;
  width: 250px;
}
  #cardAfficheUser{
    width: 300px;
  }
  #cardAfficheConcerts.card{
    width: 300px;
  }
  #fond1, #formulaire, #formConnexion, #formPwd {
    display: flex;
    justify-content: center;
    text-align: center;
    background: #000;
    width: 300px;
    box-shadow: 2px 2px 5px #AE8625;
  }
  #fond1 label, #formulaire label, #formConnexion label, #formPwd {
    color: #AE8625;
    font-size: 1.5rem;
    font-family: 'New Rocker', cursive , sans-serif;
  }
  .input-shadow{
    box-shadow: 2px 2px 5px #AE8625;
    width: 240px;
    height: 50px;
  }
  .fond2 {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 400px;
    height: 500px;
    background: azure;
    overflow: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
  .video-shadow {
    width: 330px;
    height: 200px;
  }
  #gifEclair {
    display: none;
  }
}
  


@media screen and (max-width: 480px) {
  .navbar .menu-hamburger {
    display: block;
    margin-right: 30px;
  }
  #fest img {
    width: 190px;
    height: 230px;
    margin-left: 1px;
    
  }
  .navbar .logo {
    position: absolute;
    color: #AE8625;
    top: 35px;
    left: 5px;
    font-size: 1.3rem;
  }
  .fond2 {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 300px;
    height: 400px;
    background: azure;
    overflow: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
  .imageContainer {
    width: 320px;
    height: 260px;
  }
  .imageContainer img {
    width: 290px;
    height: 240px;
  }
  #hellfest {
    width: 300px;
    height: 250px;
  }
  .dreams1 {
    display: flex;
    flex-direction: column;
  }
  .voteGif img {
    width: 230px;
    height: 230px;
  } 
  #logFaq {
    height: 200px;
    width: 200px;
  }
  .input-shadow {
    width: 190px;
    height: 45px;
  }
  .boutonInfo {
    width: 30px; 
  }
  #festival{
    gap: 10px;
    margin-top: 20px;
  }
  header {
    height: 10vh;
    width: 100%;
  }
  .card1 {
    margin-top: 20px;
  }
  .festh2 {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
  }
  #filter-value, #filter-type {
    font-family: 'New Rocker', cursive , sans-serif;
    font-size: 1.2rem; 
  }
  #filter-value {
    width: 135px;
  }
  p {
    font-size: 1.2rem;
  }
  #pCard1 p {
    justify-content: flex-start;
    align-content: start;
    padding-left: 20px;
  }
  #img-container, #img-container2, .faqh1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .formProfil {
    box-shadow: 2px 2px 5px #AE8625;
  }
  .navbar .logo {
    padding-left: 40px;
  }
  .row1 {
    flex-direction: column;
    padding-bottom: 0;
  }
  .row1 h1 {
    padding-top: 20px;
    padding-bottom: 0;
  }
  .fond3 img {
    width: 320px;
    height: 200px;
  }
  .faqh1 {
    margin-top: 20px;
    height: 50px;
  }
  .faqh1 h1 {
    margin-top: 20px;
    height: 50px;
  }
  #hellFest img{
    height: 200px;
}
.text-overlay {

font-size: 0.7rem;
    top: 50%;
    width: 170px;
  

}
}
