
@media screen and (max-width: 900px){
  #carouselExampleCaptions{
      z-index: 1;
  }
  .navbar{
      position: relative;
      z-index: 2;
      padding: 0;
  }
  .navbar .logo {
      position: absolute;
      color: #AE8625;
      top: 40px;
      left: 30px;
  }
  .navbar .menu-hamburger{
      display: block;
      margin-right: 30px;
      
  }
  .nav-links{
      
      top: 0;
      left: 0;
      position: absolute;
      background:-webkit-linear-gradient(bottom, #AE8625 10%, #ebc365 20%, #AE8625 40%, #ebc365 60%, #AE8625 80%, #ebc365 100%);
      backdrop-filter: blur(8px);
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: -100%;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;

  }
  .navbar a{
      color: #000;
      font-size: 1.5rem;
      font-weight: bolder;
      padding: 15px 80px;
  }
  
  .navbar a:hover{
      box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.875);
  }
  .nav-links.mobile-menu{
      margin-left: 0;
  }
  .nav-links ul{
      display: flex;
      flex-direction: column;

  }
  .navbar .nav-links ul li{
      margin: 25px 0;
      font-size: 1.2rem;
  }
  #youtube {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

/****page profil*********/
  /* Media queries pour ajuster la grille en fonction de la taille de l'écran */

  #profile {
    grid-template-rows: 1fr 1fr; /* 2 lignes de hauteur égale */
    grid-template-columns: 100%; /* 1 colonne de largeur maximale */
  }
  
  #grid1 {
    grid-row: 1; /* Commence à la première ligne */
    grid-column: 1; /* Commence à la première colonne */
  }
  
  #grid2 {
    grid-row: 2; /* Commence à la deuxième ligne */
    grid-column: 1; /* Commence à la première colonne */
  }
  
  #formTop5 {
    display: flex;
    flex-direction: column;
  }
}
  /* @media screen and (max-width: 768px) {
} */
  

@media screen and (max-width: 550px){
  .navbar .logo {
    position: absolute;
    color: #AE8625;
    top: 20px;
    left: 10px;
    font-size: medium;
  }
  .navbar .menu-hamburger {
    display: block;
    margin-right: 30px;
    /* Styles spécifiques pour le bouton du menu hamburger */
  }
  #cardAfficheUser{
    width: 300px;
  }
  #cardAfficheConcerts.card{
    width: 300px;
  }
  #fond1, #formulaire, #formConnexion, #formPwd, #formContact{
    display: flex;
    justify-content: center;
    text-align: center;
    background: #000;
    width: 300px;
    box-shadow: 2px 2px 5px #AE8625;
  }
  #fond1 label, #formulaire label, #formConnexion label, #formPwd{
    color: #AE8625;
    font-size: 1.5rem;
    font-family: 'New Rocker', cursive , sans-serif;
  }
  .input-shadow{
    box-shadow: 2px 2px 5px #AE8625;
    width: 240px;
    height: 50px;

  }
  .fond2 {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 400px;
    height: 500px;
    background: azure;
    overflow: auto;
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%);
  }
  .video-shadow {
    width: 330px;
    height: 200px;
  }
  #gifEclair {
    display: none;
  }
  
}

@media (max-width: 480px) {
  .navbar .menu-hamburger {
    display: block;
    margin-right: 30px;
    /* Styles spécifiques pour le bouton du menu hamburger sur les écrans de téléphone */
  }
  .navbar .logo {
    position: absolute;
    color: #AE8625;
    top: 20px;
    left: 5px;
    font-size: 0.8rem;
  }
  header{
    width: 100%;
  }
  .fond2 {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 300px;
    height: 400px;
    background: azure;
    overflow: auto;
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%);
  }
  .imageContainer {
    width: 320px;
    height: 260px;
  }
  .imageContainer img {
    width: 290px;
    height: 240px;
  }
  #hellfest {
    width: 300px;
    height: 250px;
  }
  .dreams1 {
    display: flex;
    flex-direction: column;
  }
  .voteGif img {
    width: 230px;
    height: 230px;
  } 
  #festival {
    margin-top: 0;
    gap: 10px;
  }
  .logo {
    margin-top: 30px;
    font-size: 1.4rem;
  }
  #logFaq {
    height: 200px;
    width: 200px;
  }
  .input-shadow::placeholder {
    font-size: 13px;
    max-width: 240px;
  }
  
}